<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Quarkus REST service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        input[type=email], input[type=password], input[type=search], input[type=text], select {
            background: transparent;
            margin: 8px 0;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-app="ApartmentManagement" ng-controller="ApartmentController">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Planner Service</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Mieszkanie</h3>
            <select name="selectedApartment" ng-model="selectedApartment" ng-change="selectApartment()">
                <option ng-repeat="apartment in apartments" value="{{ apartment.id }}">{{ apartment.name }}</option>
            </select>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info" style="margin-top: 75px;" ng-click="newApartment()">Nowy</button>
        </div>
        <div class="col-4">
            <h3>Pokój</h3>
            <select name="selectedRoom" ng-model="selectedRoom" ng-change="selectRoom()">
                <option ng-repeat="room in rooms" value="{{ room.id }}">{{ room.name }}</option>
            </select>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info" style="margin-top: 75px;" ng-click="newRoom()">Nowy</button>
        </div>
    </div>

    <div ng-if="showNewApartmentForm"  class="panel panel-default">
        <div class="panel-heading">Nowe mieszkanie</div>
        <div class="panel-body">
            <form ng-submit="addApartment()">
                <div class="row">
                    <div class="col-10">
                        <label for="apartmentName">Nazwa</label>
                        <input id="apartmentName" type="text" ng-model="apartmentForm.name"/>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-success" style="margin-top: 40px;">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if="showNewRoomForm"  class="panel panel-default">
        <div class="panel-heading">Nowy pokój</div>
        <div class="panel-body">
            <form ng-submit="addRoom()">
                <div class="row">
                    <div class="col-10">
                        <label for="roomName">Nazwa</label>
                        <input id="roomName" type="text" ng-model="roomForm.name"/>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-success" style="margin-top: 40px;">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <form ng-if="selectedApartment !== null && selectedRoom !== null" ng-submit="addItem()" class="form-group">
        <div class="row">
            <div class="col-2">
                <label for="itemName">Nazwa</label>
                <input type="text" class="form-control-sm" id="itemName" ng-model="itemForm.name" />
            </div>
            <div class="col-2">
                <label for="itemType">Typ</label>
                <select id="itemType" class="form-control-sm" ng-model="itemForm.type">
                    <option value="SUPPLY">zasoby</option>
                    <option value="SERVICE">usługa</option>
                    <option value="EQUIPMENT">wyposażenie</option>
                </select>
            </div>
            <div class="col-2">
                <label for="itemUnit">Typ</label>
                <select id="itemUnit" class="form-control-sm" ng-model="itemForm.unit">
                    <option value="METER">metr</option>
                    <option value="SQUARE_METER">metr kwadratowy</option>
                    <option value="PIECE">sztuka</option>
                    <option value="HOUR">godzina</option>
                </select>
            </div>
            <div class="col-2">
                <label for="itemQuantity">Ilość</label>
                <input type="text" class="form-control-sm" step="1" id="itemQuantity" ng-model="itemForm.quantity" />
            </div>
            <div class="col-2">
                <label for="itemPrice">Cena jednostkowa</label>
                <input type="text" class="form-control-sm" step="0.01" id="itemPrice" ng-model="itemForm.price" />
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-success" style="margin-top: 40px;">Dodaj</button>
            </div>
        </div>
    </form>
    <div ng-if="showNewItemForm && selectedApartment !== null && selectedRoom !== null && items.length !== 0" class="row">
        <table class="table table-striped">
            <tr>
                <th>Nazwa</th>
                <th>Type</th>
                <th>Jednostka</th>
                <th>Ilość</th>
                <th>Cena jednostkowa</th>
                <th>Usuń</th>
            </tr>
            <tr ng-repeat="item in items">
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price | number:2 }} PLN</td>
                <td><button type="button" class="btn btn-default btn-xs" style="margin: 0;"
                            ng-click="deleteItem(item.id)">Usuń</button></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
